<!-- Check 1 -->
  <div class="panel js-hidden" id="check-1-input">

    <div class="form-group {% if errors['check-decision'][0] %} error {% endif %}" id='check-1-decision-group'>
      <label class="form-label-bold" for="check-decision">Decision</label>
      {% if errors['check-decision'][0] %}
        <span class="error-message" id="error-message-check-1-decision">{{ errors['check-decision'][0] }}</span>
      {% endif %}
      <select class="form-control" id="check-decision" name="check-decision">
        <option value="" disabled selected>Select</option>
        <option value="APPROVED" {% if claimDecision['check-decision'] === 'APPROVED' %} selected {% endif %}>Approve</option>
        <option value="REJECTED" {% if claimDecision['check-decision'] === 'REJECTED' %} selected {% endif %}>Reject</option>
      </select>
    </div>
    <div class="form-group  {% if errors['check-comments'][0] %} error {% endif %}" id='check-1-comments-group'>
      <label class="form-label-bold" for="check-comments">Comments</label>
      {% if errors['check-comments'][0] %}
        <span class="error-message" id="error-message-check-1-comments">{{ errors['check-comments'][0] }}</span>
      {% endif %}
      <textarea class="form-control" name="check-comments" id="check-comments" maxlength="250">{{ claimDecision['check-comments'] }}</textarea>
    </div>
    <input type="submit" class="button" name="complete-check-1" id="complete-check-1" value="Complete Check 1">
  </div>
<!-- End of Check 1 -->