{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  {% import 'partials/navigation.html' as nav %}
    {{nav.active('management-information')}}

    <div class="grid-row">

      <div class="column-one-quarter">
        <div class="form-group">
          <label for="claimStatusAll" class="block-label inline">
            All
            <input id="claimStatusAll" type="radio" name="claimStatus" value="all" {% if query.claimStatus == 'all' %} checked {% endif %}>
          </label>
        </div>
      </div>

      <div class="column-one-quarter">
        <div class="form-group">
          <label for="claimStatusNew" class="block-label inline">
            New
            <input id="claimStatusNew" type="radio" name="claimStatus" value="new" {% if query.claimStatus == 'new' %} checked {% endif %}>
          </label>
        </div>
      </div>

      <div class="column-one-quarter">
        <div class="form-group">
          <label for="claimStatusPending" class="block-label inline">
            Pending
            <input id="claimStatusPending" type="radio" name="claimStatus" value="pending" {% if query.claimStatus == 'pending' %} checked {% endif %}>
          </label>
        </div>
      </div>

      <div class="column-one-quarter">
        <div class="form-group">
          <label for="claimStatusInProgress" class="block-label inline">
            In progress
            <input id="claimStatusInProgress" type="radio" name="claimStatus" value="inProgress" {% if query.claimStatus == 'inProgress' %} checked {% endif %}>
          </label>
        </div>
      </div>

      <div class="column-one-quarter">
        <div class="form-group">
          <label for="claimStatusApproved" class="block-label inline">
            Approved
            <input id="claimStatusApproved" type="radio" name="claimStatus" value="approved" {% if query.claimStatus == 'approved' %} checked {% endif %}>
          </label>
        </div>
      </div>

      <div class="column-one-quarter">
        <div class="form-group">
          <label for="claimStatusPaid" class="block-label inline">
            Paid
            <input id="claimStatusPaid" type="radio" name="claimStatus" value="paid" {% if query.claimStatus == 'paid' %} checked {% endif %}>
          </label>
        </div>
      </div>

      <div class="column-one-quarter">
        <div class="form-group">
          <label for="claimStatusRejected" class="block-label inline">
            Rejected
            <input id="claimStatusRejected" type="radio" name="claimStatus" value="rejected" {% if query.claimStatus == 'rejected' %} checked {% endif %}>
          </label>
        </div>
      </div>

    </div>

  <div class="grid-row">
    <div class="column-one-third">
      <form action='/management-information' method="GET">
        <label class="form-label-bold">Filter by</label>
        <select class="form-control full" id="filter" name="filter">
          <option value="TODAY" {% if activeFilter == 'TODAY' or activeFilter == null %}selected=""{% endif %}>10% Check</option>
          <option value="YESTERDAY" {% if activeFilter == 'YESTERDAY' %}selected=""{% endif %}>Yesterday</option>
          <option value="LAST_7_DAYS" {% if activeFilter == 'LAST_7_DAYS' %}selected=""{% endif %}>Last 7 days</option>
          <option value="ONE_MONTH_AGO" {% if activeFilter == 'ONE_MONTH_AGO' %}selected=""{% endif %}>{{ filterMonths.oneMonthAgo }}</option>
          <option value="TWO_MONTHS_AGO" {% if activeFilter == 'TWO_MONTHS_AGO' %}selected=""{% endif %}>{{ filterMonths.twoMonthsAgo }}</option>
          <option value="THREE_MONTHS_AGO" {% if activeFilter == 'THREE_MONTHS_AGO' %}selected=""{% endif %}>{{ filterMonths.threeMonthsAgo }}</option>
          <option value="FOUR_MONTHS_AGO" {% if activeFilter == 'FOUR_MONTHS_AGO' %}selected=""{% endif %}>{{ filterMonths.fourMonthsAgo }}</option>
        </select>
      </form>
    </div>
  </div>

  <div id="dashboard" class="grid-row">
    <div class="column-one-third">
        <h2 class="heading-medium">Pending</h2>
        <span class="number">{{ pendingCount }}</span>
    </div>

    <div class="column-one-third">
        <h2 class="heading-medium">In Progress</h2>
        <span class="number">{{ inProgressCount }}</span>
    </div>

    <div class="column-one-third">
        <h2 class="heading-medium">Paid</h2>
        <span class="number">{{ paidCount }}</span>
    </div>

    <div class="column-one-third">
        <h2 class="heading-medium">Auto approved</h2>
        <span class="number">{{ autoApprovedCount }}</span>
    </div>

    <div class="column-one-third">
        <h2 class="heading-medium">Manually approved</h2>
        <span class="number">{{ manuallyApprovedCount }}</span>
    </div>

    <div class="column-one-third">
        <h2 class="heading-medium">Rejected</h2>
        <span class="number">{{ rejectedCount }}</span>
    </div>
  </div>

</main>

{% endblock %}

{% block body_end %}
  {% include "includes/dashboard-scripts.html" %}
{% endblock %}
