{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  {% import 'partials/navigation.html' as nav %}
    {{nav.active('management-information')}}

  {% include "includes/validation-error-messages.html" %}

  <form id="management-information" action="/management-information" method="POST">

    {% include "partials/csrf-hidden-input.html" %}
    <input id="rawQuery" type="hidden" name="rawQuery" value="{{ stringifiedBody }}">
    <input id="startSearching" type="hidden" name="startSearching" value="{{ startSearching }}">

    <div class="grid-row">
      <div class="column-two-thirds">
          <label class="form-label-bold">Metric</label>
          <select class="form-control full" id="metric" name="metric">
            <option value="select" disabled selected>Select</option>
            {# <option value="10" {% if activeFilter == '10' or activeFilter == null %}selected=""{% endif %}>10% Check</option>
            <option value="100" {% if activeFilter == '100' or activeFilter == null %}selected=""{% endif %}>100% Check</option> #}
            <option value="received" {% if query.metric == 'received' %} selected {% endif %}>Claims Recieved Summary</option>
            <option value="pending" {% if query.metric == 'pending' %} selected {% endif %}>Claims Pending Summary</option>
            {# <option value="paid" {% if activeFilter == 'paid' %}selected=""{% endif %}>Claims Paid Summary</option>
            <option value="rejected" {% if activeFilter == 'rejected' %}selected=""{% endif %}>Claims Rejected Summary</option> #}
          </select>
      </div>
    </div>

    <br>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="heading-small">Date claim received</h3>

        <div class="grid-row">
          <div class="column-two-thirds" id="from" name="from">
            <div class="form-group">
              <label id="from" class="form-label-bold">
                From
              </label>

              {% if errors['from'][0] %}
                <span class="error-message">{{ errors['from'][0] }}</span>
              {% endif %}

              <div class="form-date advanced-search-date">
                <div class="form-group form-group-day">
                  <label for="fromDay">Day</label>
                  <input id="fromDay" name="fromDay" value="{{ query.fromDay }}" class="form-control date-input">
                </div>
                <div class="form-group form-group-month">
                  <label for="fromMonth">Month</label>
                  <input id="fromMonth" name="fromMonth" value="{{ query.fromMonth }}" class="form-control date-input">
                </div>
                <div class="form-group form-group-year">
                  <label for="fromYear">Year</label>
                  <input id="fromYear" name="fromYear" value="{{ query.fromYear }}" class="form-control date-input">
                </div>
              </div>
            </div>
          </div>

          <div class="column-two-thirds" id="to" name="to">
            <div class="form-group">
              <label id="to" class="form-label-bold">
                To
              </label>

              {% if errors['to'][0] %}
                <span class="error-message">{{ errors['to'][0] }}</span>
              {% endif %}

              <div class="form-date advanced-search-date">
                <div class="form-group form-group-day">
                  <label for="toDay">Day</label>
                  <input id="toDay" name="toDay" value="{{ query.toDay }}" class="form-control date-input">
                </div>
                <div class="form-group form-group-month">
                  <label for="toMonth">Month</label>
                  <input id="toMonth" name="toMonth" value="{{ query.toMonth }}" class="form-control date-input">
                </div>
                <div class="form-group form-group-year">
                  <label for="toYear">Year</label>
                  <input id="toYear" name="toYear" value="{{ query.toYear }}" class="form-control date-input">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<br>
    <div class="grid-row">
      <div class="column-two-thirds">
          <label class="form-label-bold">How would you like the claims broken down by?</label>
          <select class="form-control full" id="breakdownBy" name="breakdownBy">
            <option value="select" disabled selected>Select</option>
            <option value="year" {% if query.breakdownBy == 'year' %} selected {% endif %}>Year</option>
            <option value="month" {% if query.breakdownBy == 'month' %} selected {% endif %}>Month</option>
            <option value="quarter" {% if query.breakdownBy == 'quarter' %} selected {% endif %}>Quarter</option>
            <option value="week" {% if query.breakdownBy == 'week' %} selected {% endif %}>Week</option>
          </select>
      </div>
    </div>
<br>

<div id="yearDiv" class="breakdownByDivs" hidden>
  <div class="grid-row">
    <div class="column-two-thirds">
        <label class="form-label-bold">Please choose a year</label>
        <select class="form-control full" id="year" name="year">
          <option value="select" disabled selected>Select</option>
        </select>
    </div>
  </div>
  <br>
</div>

<div id="monthDiv" class="breakdownByDivs" hidden>
  <div class="grid-row">
    <div class="column-two-thirds">
        <label class="form-label-bold">Please choose a month</label>
        <select class="form-control full" id="month" name="month">
          <option value="select" disabled selected>Select</option>
        </select>
    </div>
  </div>
  <br>
</div>

<div id="quarterDiv" class="breakdownByDivs" hidden>
  <div class="grid-row">
    <div class="column-two-thirds">
        <label class="form-label-bold">Please choose a quarter</label>
        <select class="form-control full" id="quarter" name="quarter">
          <option value="select" disabled selected>Select</option>
        </select>
    </div>
  </div>
  <br>
</div>

<div id="weekDiv" class="breakdownByDivs" hidden>
  <div class="grid-row">
    <div class="column-two-thirds">
        <label class="form-label-bold">Please choose a week</label>
        <select class="form-control full" id="week" name="week">
          <option value="select" disabled selected>Select</option>
        </select>
    </div>
  </div>
  <br>
</div>

<div id="pendingReasonDiv" hidden>
  <div class="grid-row">
    <div class="column-two-thirds">
        <label class="form-label-bold">Pending reason</label>
        <select class="form-control full" id="pendingReason" name="pendingReason">
          <option value="select" disabled selected>Select</option>
          <option value="informationRequested" {% if query.pendingReason == 'informationRequested' %} selected {% endif %}>Information Requested</option>
          <option value="incompleteInformation" {% if query.pendingReason == 'incompleteInformation' %} selected {% endif %}>Incomplete Information</option>
          <option value="paymentInformationRequested" {% if query.pendingReason == 'paymentInformationRequested' %} selected {% endif %}>	Payment Information Requested</option>
        </select>
    </div>
  </div>
  <br/>
</div>

    <div class="grid-row">
      <div class="column-two-thirds">
          <label class="form-label-bold">Country</label>
          <select class="form-control full" id="country" name="country">
            <option value="any" {% if query.country == 'any' %} selected {% endif %}>Any</option>
            <option value="england" {% if query.country == 'england' %} selected {% endif %}>England</option>
            <option value="scotland" {% if query.country == 'scotland' %} selected {% endif %}>Scotland</option>
            <option value="wales" {% if query.country == 'wales' %} selected {% endif %}>Wales</option>
            <option value="northern ireland" {% if query.country == 'northern ireland' %} selected {% endif %}>Northern Ireland</option>
          </select>
      </div>
    </div>
<br>
      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="form-group">
            <input id="management-information-submit" type="submit" class="button" value="Search">
            <a href="/" class="link margin-left margin-top">Cancel</a>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-full">
          <h2 id="claims-received-header" class="heading-medium">Results</h2>
    
          <table id="claims-received-results" class="table">
            <thead>
              <tr>
                <th class="sorting_disabled">Ref no.</th>
                <th class="sorting_disabled">Claimant</th>
                <th class="sorting_disabled">Caseworker</th>
                <th class="sorting_disabled">Date Received</th>
                <th class="sorting_disabled">Claim No.</th>
                <th class="sorting_disabled">Status</th>
                <th class="sorting_disabled"></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
  </form>

</main>

{% endblock %}

{% block body_end %}
  {% include "includes/management-information-scripts.html" %}
{% endblock %}
